{% extends "base.html" %}
{% load static %}

{% block title %}PUC Oportunidades — Estágios e Inovação{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/estagios.css' %}">
{% endblock %}

{% block content %}
<section class="banner">
  <h2>Programas de Estágio e Inovação</h2>
  <p>Conheça iniciativas que unem aprendizado prático, tecnologia e desenvolvimento profissional.</p>
</section>

<main class="container">
    {% for e in estagios %}
  <div class="program">
      <h3 class="nomestagio">{{ e.nome }}</h3>
      <p class="desestagio">{{ e.descricao }}</p>
      <div class="detalhes-topicos">
          {{ e.topicos_lista|safe }}
      </div>
  </div>
    {% empty %}
        <p>Nenhum programa de estágio ou inovação encontrado no momento.</p>
    {% endfor %} 

</main>

<footer>
  <p>© 2025 • PUC Oportunidades</p>
</footer>

{% endblock %}
